<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
      app
    >
      <v-list dense>
        <v-list-item two-line>
          <v-list-item-avatar>
            <!-- <img src="https://randomuser.me/api/portraits/men/81.jpg"> -->
            <img :src="'data:image/png;base64,' + avatarBase64">
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>John Doe</v-list-item-title>
            <v-list-item-subtitle>no.email@incognito.com</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider />

        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-contact-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Contact</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <div class="pa-2">
          <v-btn
            block
            @click="handleLogoutClick"
          >
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="indigo"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>Sraleik Cloud</v-toolbar-title>
    </v-app-bar>

    <v-content>
      <v-container fluid>
        <v-row>
          <v-col>
            <v-btn @click="handleCreateEmptyFolder">
              Create Empty Folder
            </v-btn>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            v-for="folder in rootDir"
            :key="folder.id"
          >
            <file-system-item
              :item-id="folder.id"
              :item-versions="folder.versions"
              @rename="handleRenameFolder"
              @delete="handleDeleteItem"
            />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
    <v-snackbar
      v-model="snackbar"
      :color="snackbarType"
      :timeout="snackbarTimeout"
      :top="true"
    >
      {{ snackbarText }}
      <v-btn
        dark
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    <v-footer
      color="indigo"
      app
    >
      <span class="white--text">&copy; 2019</span>
    </v-footer>
  </div>
</template>

<script>
import uuid from 'uuid/v4'
import { cloneDeep } from 'lodash-es'
import { store } from '@/store/'
import FileSystemItem from '@/components/FileSystemItem'
import { getKeyPairFromSeedHash } from '@/core/wallet'
import bddConnection from '@/core/bdd-overlay'
import Identicon from 'identicon.js'

export default {
  components: {
    FileSystemItem
  },
  data: () => ({
    currentFolderRename: null,
    snackbar: false,
    snackbarText: null,
    snackbarType: null,
    snackbarTimeout: 4000,
    renameModal: false,
    drawer: false,
    bdd: null,
    rootDir: {}
  }),
  async mounted () {
    if (this.store.seedHash) {
      localStorage.seedHash = this.store.seedHash
    } else {
      this.store.myKeyPair = getKeyPairFromSeedHash(localStorage.seedHash)
      this.store.seedHash = localStorage.seedHash
    }

    this.bdd = await bddConnection({
      public: this.publicKey,
      private: this.store.myKeyPair.toHex()
    })

    const hasRootDir = await this.bdd.has('rootDir')

    if (hasRootDir) {
      this.rootDir = await this.bdd.read('rootDir')
    }
  },
  computed: {
    store () {
      return store
    },
    publicKey () {
      return this.store.myKeyPair ? this.store.myKeyPair.publicKey.toHex() : null
    },
    avatarBase64 () {
      return this.publicKey ? new Identicon(this.publicKey, 120).toString() : ''
    }
  },
  methods: {
    handleLogoutClick () {
      store.myKeyPair = undefined

      this.$router.push({ name: 'login' })
    },
    handleDeleteItem ({ itemId }) {
      let tmpRootDir = cloneDeep(this.rootDir)
      const currentFolder = tmpRootDir[itemId]

      delete tmpRootDir[itemId]

      this.bdd.set('rootDir', tmpRootDir).then(() => {
        this.rootDir = tmpRootDir

        this.bdd.set('trash', currentFolder).then(() => {
          this.trash = tmpRootDir
        })
      })
    },
    handleRenameFolder ({ itemId, newName }) {
      let tmpRootDir = cloneDeep(this.rootDir)
      const currentFolder = tmpRootDir[itemId]
      const lastVersion = currentFolder.versions[currentFolder.versions.length - 1]
      let newVersion = {
        ...lastVersion,
        name: newName,
        date: new Date()
      }

      tmpRootDir[itemId].versions.push(newVersion)

      this.bdd.set('rootDir', tmpRootDir).then(() => {
        this.rootDir = tmpRootDir
      }).catch((err) => {
        console.log(err)
        this.snackbarText = 'Impossible de renomer le dossier'
        this.snackbarType = 'error'
        this.snackbar = true
      })
    },
    handleCreateEmptyFolder () {
      let tmpRootDir = cloneDeep(this.rootDir)
      const folderId = uuid()

      tmpRootDir[folderId] = {
        id: folderId,
        versions: [
          { name: 'New Folder',
            ipfsId: 'QmcsjhuP5XYSfmh51E8UDhjJb6MeuT9hv8cNyWctjsjncK',
            date: new Date()
          }
        ]
      }

      this.bdd.set('rootDir', tmpRootDir).then(() => {
        this.rootDir = tmpRootDir
      }).catch((err) => {
        console.log(err)
        this.snackbarText = 'Impossible de créer le dossier'
        this.snackbarType = 'error'
        this.snackbar = true
      })
    }
  }
}
</script>
