<template>
  <div>
    <v-app-bar
        color="indigo"
        dark
      >
        <v-toolbar-title>Sraleik Cloud</v-toolbar-title>
    </v-app-bar>
    <v-container fluid>
        <v-row align="center" justify="center">
          <v-col cols="5">
            <v-card class="mx-auto" max-width="600">
              <v-card-text>
                <v-card-title>Enter your seed phrase</v-card-title>
                <v-textarea
                  outlined
                  :rules="seedPhraseRules"
                  name="seed-textarea"
                  label="Seed Phrase"
                  @keydown.enter.exact.prevent
                  @keyup.enter.exact.prevent
                  v-model="seedPhrase"
                ></v-textarea>
              </v-card-text>
              <v-card-actions>
                <v-layout justify-end>
                  <v-btn
                    text
                    large
                    @click="handleSignupClick"
                  >
                    Signup
                  </v-btn>
                  <v-btn
                    large
                    :disabled="!isSeedPhraseValide"
                    color="primary"
                    @click="handleLoginClick"
                  >
                    Login
                  </v-btn>
                </v-layout>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
    </v-container>
  </div>
</template>

<script>
import { getSeedHash, getKeyPair, validateSeedPhrase } from '@/core/wallet'
import { store } from '@/store/'

export default {
  data: () => ({
    seedPhrase: null,
    seedPhraseRules: [
      seedPhrase => validateSeedPhrase(seedPhrase) || 'Seed must bee 12 words from the bip39 dictionary'
    ]
  }),
  computed: {
    isSeedPhraseValide () {
      return validateSeedPhrase(this.seedPhrase)
    }
  },
  methods: {
    handleSignupClick () {
      this.$router.push({ name: 'signup' })
    },
    handleLoginClick () {
      store.seedHash = getSeedHash(this.seedPhrase)
      store.myKeyPair = getKeyPair(this.seedPhrase)

      this.$router.push({ name: 'home' })
    }
  }
}
</script>
