<template>
  <div>
    <v-app-bar
        color="indigo"
        dark
      >
        <v-toolbar-title>Sraleik Cloud</v-toolbar-title>
    </v-app-bar>
    <v-container fluid>
        <v-row align="center" justify="center">
          <v-col cols="5">
            <v-card class="mx-auto" max-width="600">
              <v-card-text>
                <v-card-title>Generate your Seed Phrase</v-card-title>
              </v-card-text>
              <v-card-actions>
                <v-layout justify-end>
                  <v-btn
                    text
                    large
                    @click="handleLoginClick"
                  >
                    Login
                  </v-btn>
                  <v-btn
                    large
                    color="primary"
                    @click="handleGenerateSeedPhrase"
                  >
                    Generate Seed
                  </v-btn>
                </v-layout>
              </v-card-actions>
              <template v-if="this.seedPhrase">
                <v-card-text >
                  <v-textarea
                    outlined
                    readonly
                    name="seed-textarea"
                    label="Seed Phrase"
                    :value="seedPhrase"
                  ></v-textarea>
                </v-card-text>
                <v-card-actions>
                  <v-layout justify-end>
                    <v-btn
                      large
                      color="primary"
                      @click="handleGenerateWallet"
                    >
                      Generate Wallet
                    </v-btn>
                  </v-layout>
                </v-card-actions>
              </template>
            </v-card>
          </v-col>
        </v-row>
    </v-container>
  </div>
</template>

<script>
import { createSeedPhrase, getKeyPair } from '@/core/wallet'
import { store } from '@/store/'

export default {
  data: () => ({
    seedPhrase: null
  }),
  computed: {
  },
  methods: {
    handleLoginClick () {
      this.$router.push({ name: 'login' })
    },
    handleGenerateSeedPhrase () {
      this.seedPhrase = createSeedPhrase()
    },
    handleGenerateWallet () {
      const keyPair = getKeyPair(this.seedPhrase)

      store.myKeyPair = keyPair

      this.$router.push({ name: 'home' })
    }

  }
}
</script>
