<template>
  <div clas="file-system-item">
    <v-icon>mdi-folder</v-icon>
    {{ currentName }}
    <v-menu
      offset-x
      min-width="200"
    >
      <template v-slot:activator="{ on: menu }">
        <v-btn
          icon
          tile
          v-on="menu"
        >
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>

      <v-list>
        <v-list-item
          class="file-system__action"
          @click="handleRenameClick"
        >
          <v-list-item-title>
            <v-icon>mdi-pencil</v-icon>
            Rename
          </v-list-item-title>
        </v-list-item>
        <v-list-item
          class="file-system__action"
          @click="handleDeleteClick"
        >
          <v-list-item-title>
            <v-icon>mdi-delete</v-icon>
            Delete
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <v-dialog
      v-model="renameModal"
      persistent
      max-width="500px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Rename Folder</span>
        </v-card-title>
        <v-card-text>
          <v-text-field
            label="Folder name"
            v-model="newFileItemName"
            required
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="blue darken-1"
            text
            @click="renameModal = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="handleRenameSave()"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    itemId: {
      type: String,
      required: true
    },
    itemVersions: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    renameModal: false,
    newFileItemName: null
  }),
  methods: {
    handleDeleteClick () {
      this.$emit('delete', { itemId: this.itemId })
    },
    handleRenameSave () {
      this.$emit('rename', { itemId: this.itemId, newName: this.newFileItemName })
      this.renameModal = false
    },
    handleRenameClick () {
      this.newFileItemName = this.currentName
      this.renameModal = true
    }
  },
  computed: {
    currentVersion () {
      return this.itemVersions[this.itemVersions.length - 1]
    },
    currentName () {
      return this.currentVersion.name
    }
  }
}
</script>

<style lang="scss" scoped>
.file-system-action {
  &:hover{
    background-color: grey;
    cursor: pointer;
  }
}

</style>
